<h1 id="head-title">Homepage</h1>
{{!-- {{#each posts}}      
    <!-- BLOG CARD -->
    <a href="/{{id}}" class="card-holder-link">
      <div class="card-holder home-card">
        <div class="card-left">
          <div class="title-container">
            <h3 class="title">{{title}}</h3>
          </div>
          <div class="date-container">
            <div>{{date_created}}</div>
          </div>
        </div>
        <div class="card-right homepage-right">
          <h4>{{user.username}}</h4>
        </div>
      </div>
    </a>
{{/each}} --}}


{{#each posts}}  
<div class="card">
    <a href="/{{id}}" class="card-link">
  <h3 class="card-header">
    {{title}}
  </h3>
  <div class="card-body">
     <h5>{{user.username}}</h5>
       <h6>{{date_created}}</h6>
  </div>
 </a>
</div>
{{/each}}